
        :root {
            --primaryColor: #0045B4;
            --secondaryColor: #636262;
            --iconColor: #FFFFFF;
            --iconColorOp: #FFFFFF;
            --iconColorOp2: #FFFFFF;
            --dashboardColor: #414273;
        }
        